{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "block-no-empty": null,
    "rule-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null
  }
}